body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#bcontent{
    width: 800px;
    margin: 0 auto;
    max-width: 80%;
    background-color: #ffffff;
    padding: 20px;
}
/**{*/
    /*margin: 0px;*/
    /*padding: 0px;*/
/*}*/

#content{
    /*text-align: center;*/
}
.imgwh{
    width: 15px;
    height: 15px;
    vertical-align: bottom;
    margin-right: 20px;
}


a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/*a:hover{*/
    /*color:black;*/
    /*font-weight:bold;*/
/*}*/
a:hover{
    text-decoration:underline;
    opacity:0.9;
}

.font_style {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: small;
}

.title_style {
    font-size: small;
    color: dodgerblue;
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    font-weight: bold;
}

.table_css {
    border: 1px solid #aaa;
    border-collapse: collapse;
    font-size: small;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.trg{
    background-color: gainsboro;
}

.table_css th{
    border: 1px solid gainsboro;
    text-align: center;
    padding: 5px;
}

.table_css td{
    border: 1px solid gainsboro;
    text-align: center;
    padding: 10px;
}



.pro ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.pro_title {
    font-weight: bold;
    font-size: small;
    margin-top: 20px;
}
.pro_titlej{
    font-weight: bold;
    font-size: small;
    margin-left: 20px;
    margin-top: 10px;
}
.pro_titlem{
    font-weight: bold;
    font-size: small;
    margin-left: 20px;
    margin-top: 10px;
}

.pro_width{
    font-size: small;
    margin-left: 30px;
}

